/*.dist export-ignore
/*.yml export-ignore
/.* export-ignore
/bin export-ignore
/docs export-ignore
/tests export-ignore
/src/backups export-ignore
/CustomFilters export-ignore
/CustomLogics export-ignore
/CustomRules export-ignore
/CustomRuless export-ignore
/src/AJD_validation/AJD_validation_old.php export-ignore
/src/AJD_validation/test.php export-ignore
example.php export-ignore